/logs
.idea

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.vscode/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/